.itemBox{
    width: 200px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    vertical-align: center;
    margin: 10px 10px 10px 10px;
}

.imgBox{
    width: 200px;
    height: auto;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}

.button{
    margin-top: 5px;
    margin-bottom: 5px;
}

.galleryImage{
    object-fit: cover;
}