.itemBox{
    width: 250px;
    height: 250px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    vertical-align: center;
    margin: 10px 10px 10px 10px;
}

.imgBox{
    width: 250px;
    height: auto;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}

.description{
    object-fit: cover;
    display: inline;
}

.button{
    margin-top: 5px;
    margin-bottom: 5px;
}

.galleryImage{
    object-fit: cover;
}

/* .button-div{
    width: 100%;
    text-align: center;
}

.item-info{
    display: inline-block;
} */